#inicio {
    position: relative;/* para poder superponer texto*/
    width: 100%;
    height: 100%;            
}

#fotoInicio {
    width: 100%;/* ocupa todo el ancho*/
    height: 100%;/* ocupa todo el alto*/
    object-fit: cover;
    /*para que la img se quede fija*/         
    display: block; 
}

#inicio h1 {
    position: absolute;/*para poner el h1 encima de la img*/
    top: 50%; /*centrar vertical*/
    left: 50%;/*centrar horixontal*/
    padding-right: 15px;
    color: aliceblue;
    font-size: 48px;
     text-align: end; /*el txto empieza al final */
    font-family: 'Poppins', sans-serif;
}

#home{
    /* lo  hago flex para poder mover dsps los articles con flex */
    display: flex;
    flex-direction: row;
    margin: 80px 0px 80px 160px;
    
}

#galeria h2{
    display: flex;
    /* centro el titulo */
    justify-content: center;
}

#galeria img{
    height: 450px;
    width: 450px;
    margin-top: 15px;
}

#sobre-nosotros h2{
    display: flex;
    justify-content: center;
}

#sobre-nosotros p{
    margin: 15px 200px 20px 200px;
    /* justifico el texto */
    text-align: justify;
}