/* importo fuente de google fonts. uso la normal y la negrita */

/*Poppins Regular*/
@font-face {
    font-family: 'Poppins';
    src: url('../agenciaViajes/fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


/*Poppins Bold*/
@font-face {
    font-family: 'Poppins';
    src: url('../agenciaViajes/fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body{
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    background-color: #83b0bc;
    display: flex;
    flex-direction: row;
    /* lo pongo al centro */
    justify-content: center;
    /* alineo todo al centro para que quede alineado */
    align-items: center; 
    position: relative; 
    padding: 40px 0;
}

nav img {
    height: 70px;
    margin: 10px 20px;
    /* muevo la imagen libremente */
    position: absolute;
    left: 20px;
    height: 70px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /* los ul en fila */
    display: flex;
    flex-direction: row;
    gap: 30px;  
}


nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

footer {
    width: 100%;
    background-color: #83b0bc; 
    /* el footer se adapta al contenido que tiene */
    overflow: hidden;
}

#logo_ubi{
    height: 45px;
    width: 30px;
    /* flotas la img a la izq */
    float: left;
    margin-left: 80px;
}

#logo_footer {
    float: left;
    height: 200px;
    padding: 20px 30px 20px 20px;
    margin-top: 120px;
}

footer section {
    /* floatamos cada seccion a la izq para que queden al lado */
    float: left;
    width: 28%;
    text-align: center;
    margin-top: 120px;
}

footer section a img{
    height: 60px;
    width: 60px;
    margin: 15px;
}

#redes a{
    display: inline-block; /*asi no salen lineas*/
}

#direccion p{
    /* movemos la altura del p */
    line-height: 25px;
    margin: 0;
    margin-bottom: 10px;
}

iframe{
    width: 250px;
    height: 200px;
    margin-bottom: 80px;
    /* borde redondeado */
    border-radius: 5%;
    margin-left: 110px;
}

.clear{
    /* limpiamos los position */
    clear: both;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* espacio entre letras */
    letter-spacing: 2px;
    font-size: 48px;
}

/* h2 hijos directos de h1 */
h1 + h2{
    font-size: 50px;
    justify-self: center;
    margin-top: 60px;
}

a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

a:hover{
    color: #385E68;
    /* color: #D3E3E7; */
    font-weight: bold;
}