#viajes {
    display: flex;
    flex-direction: column;
    gap: 50px; /* espacio entre filas */
    background-color: aliceblue;
}

h1{
    text-align: center;
    margin: 80px 0px 20px 0px;
    font-size: 48px;
}

#viajes article {
    width: 45%;             /* ocupa menos del 50% para poder moverlo */
    margin: 50px 50px 50px 50px;
}

/* Artículos impares: alineados a la izquierda */
#viajes article:nth-child(even) {
    align-self: flex-start;
}

/* Artículos pares: alineados a la derecha */
#viajes article:nth-child(odd) {
    align-self: flex-end;
}


#viajes article p {
    text-align: justify;
}

#viajes article p{
    margin-top: 10px;
}

/* Imágenes más responsivas */
#viajes article img {
    width: 100%;
    height: auto;
    border-radius: 2px;
    display: block;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

#viajes article img:hover{
    transform: scale(1.05);
}
