#viajes {
    display: flex;
    flex-direction: column;
    gap: 50px; /*espacio entre filas */
    background-color: aliceblue;
}

h1{
    text-align: center;
    margin: 80px 0px 20px 0px;
    font-size: 48px;
}

#viajes article {
    width: 45%;/* ocupa menos del 50 para poder moverlo */
    margin: 50px 50px 50px 50px;
}

/*los impares a la izq*/
#viajes article:nth-child(even) {
    align-self: flex-start;
}

/*los pares a la dcha*/
#viajes article:nth-child(odd) {
    align-self: flex-end;
}


#viajes article p {
    text-align: justify;
}

#viajes article p{
    margin-top: 10px;
}

#viajes article img {
    width: 100%;
    height: auto;
    border-radius: 2px;
    display: block;
    margin-top: 10px;
    /* transicion para q la imagen se haga mas grande con transicion y no de golpe */
    transition: transform 0.3s ease;
}

#viajes article img:hover{
    /* lo grande que se hara la img dsps de la transicion */
    transform: scale(1.05);
}
